<style>

</style>

<div (click)="onCloseModal()" class="fixed inset-0 w-full h-full bg-black opacity-70" ></div>

<div class="absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-md max-w-[800px] w-full shadow-md flex flex-col items-center">
  <h2>{{ title() }}</h2>

  <form
    [formGroup]="notificationForm"
    class="my-9 px-9 flex flex-col gap-4 w-full m-auto max-h-[500px] overflow-y-auto"
  >
    <app-custom-input
      label="Mensaje:"
      type="text"
      id="new-message"
      placeholder="Ingresa el mensaje"
      errorMessage="Por favor ingresa un mensaje de 10 a 100 carácteres"
      [control]="notificationForm.get('message')"
    />

    <div class="flex gap-4 justify-between">
      <app-custom-select
        label="Empresa:"
        id="new-company"
        [options]="companies()"
        [control]="notificationForm.get('company_id')"
        errorMessage="Por favor ingresa la empresa"
      />

      <app-custom-select
        label="Pais:"
        id="new-country"
        [options]="countries()"
        [control]="notificationForm.get('country_id')"
        errorMessage="Por favor ingresa el pais"
      />

      <app-custom-select
        label="Sistema:"
        id="new-system"
        [options]="systems()"
        [control]="notificationForm.get('system_id')"
        errorMessage="Por favor ingresa el sistema"
      />
    </div>

    <app-custom-select
      label="Tipo:"
      id="new-type"
      [options]="[
        { id: 1, label: 'Informativo', value: 'Informativo', default: false },
        { id: 2, label: 'Error', value: 'Error', default: false },
        { id: 3, label: 'Éxito', value: 'Éxito', default: false },
        { id: 4, label: 'Precaución/Advertencia', value: 'Precaución/Advertencia', default: false }
      ]"
      [control]="notificationForm.get('type')"
      errorMessage="Por favor ingresa el tipo"
    />

    <div class="flex gap-4 justify-between">
      <app-custom-input
        label="Duración:"
        type="number"
        id="new-duration"
        placeholder="Ingresa la duración"
        errorMessage="Por favor ingresa la duración"
        [control]="notificationForm.get('duration')"
        [classList]="['flex-grow']"
      />

      <app-custom-input
        label="Color:"
        type="color"
        id="new-color"
        placeholder="Ingresa el color"
        errorMessage="Por favor ingresa el color"
        [control]="notificationForm.get('color')"
      />

      <app-custom-select
        label="Botón:"
        id="new-button"
        [options]="[
          { id: 0, label: 'No', value: 0, default: false },
          { id: 1, label: 'Si', value: 1, default: false }
        ]"
        [control]="notificationForm.get('button')"
        errorMessage="Por favor ingresa la configuración del botón"
        [classList]="['flex-grow']"
      />
    </div>


  </form>

  <div class="flex gap-4 mt-4 justify-between w-full">
    <button
    (click)="onCloseModal()"
    class="bg-gray-500 text-white h-10 font-bold py-2 px-4 rounded cursor-pointer hover:bg-gray-700"
    >
    Cerrar
  </button>

    <button
      (click)="onSubmit()"
      class="bg-blue-500 text-white h-10 font-bold py-2 px-4 rounded cursor-pointer hover:bg-blue-700"
    >
      Guardar
    </button>
  </div>

</div>
